a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
}

.post-section-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.post-section-header-address {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
}

.section-address {
  font-style: normal;
}

.post-section-header-address:hover,
.post-section-header-address:focus {
  color: #404bbf;
}

.logspuntwo {
  color: #2e2f42;
}

.navlink {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
  font-weight: 500;
  padding: 24px 0;
}

.navlink:hover,
.navlink:focus {
  color: #404bbf;
}

.navlink:active {
  color: #404bbf;
  text-decoration-line: underline;
}

.logspunthree {
  color: #f4f4fd;
}

.post-section-effectivesolutions {
  background-color: #2e2f42;
  padding: 188px 0;
}

.post-section-effectivesolutions-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 56px;
  letter-spacing: 1.12px;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto;
}

.post-section-title {
  background-color: #ffffff;
}

.post-section-title-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.post-section-title-namearticle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.posts-section-ourteam-title-post {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.post-section-title-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.posts-section-ourteam {
  background-color: #f4f4fd;
}

.posts-section-ourteam-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.posts-section-ourteam-nameparticipants {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.posts-section-ourteam-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.posts-section-ourportfolio {
  background-color: #ffffff;
}

.posts-section-ourportfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.posts-section-ourportfolio-projectnames {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.posts-section-ourportfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.post-section-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.post-section-footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  text-align: start;
}

.button-orderservice {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
}

.button-orderservice:hover,
.button-orderservice:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.logheader {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px
}

.logfooter {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.section-two {
  padding: 180px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ourportfolio-card {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  text-align: left;
}
.ourportfolio-card-title {
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
}

.ourportfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
}

.ourteam-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
}

.ourteam-card {
  padding: 32px 0;
  text-align: center;
}

img {
  display: block;
}

.section-title-list {
  display: flex;
  gap: 24px;
  margin: 0 14px;
  flex-wrap: wrap;
}

.section-title-list-card {
  text-align: start;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.header-list {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-header-list {
  display: flex;
  align-items: center;
}

.address-ul-header {
  display: flex;
  gap: 40px;
}

.nav-ul-header {
  display: flex;
  gap: 40px;
}

.section-title-list-card > h3 {
  margin-bottom: 8px;
}

.effectivesolutions-list {
  display: flex;
  padding: 68px 28.5%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}
