html {
  scroll-behavior: smooth;
}

a {
  text-decoration: none;

  display: flex;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

li {
  list-style: none;
  height: fit-content;
}

.post-section-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.post-section-header-address {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
  padding: 24px 0;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.section-address {
  font-style: normal;
}

.post-section-header-address:hover,
.post-section-header-address:focus {
  color: #404bbf;
}

.logspuntwo {
  color: #2e2f42;
}

.navlink {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
  font-weight: 500;
  padding: 22px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.navlink:hover,
.navlink:focus {
  color: #404bbf;
}

.navlink:active {
  color: #404bbf;
}

.logspunthree {
  color: #f4f4fd;
}

.post-section-effectivesolutions {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #2e2f42;
}

.post-section-effectivesolutions-next {
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/peopleoffice.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.post-section-effectivesolutions-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 56px;
  letter-spacing: 1.12px;
  line-height: 1.07;
  max-width: 496px;
  margin: 0 auto;
}

.post-section-title {
  background-color: #ffffff;
}

.post-section-title-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.post-section-title-namearticle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.posts-section-ourteam-title-post {
  background-color: #ffffff;
  flex-basis: calc((100% - 3 * 24px) / 4);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.post-section-title-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.posts-section-ourteam {
  background-color: #f4f4fd;
}

.posts-section-ourteam-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.posts-section-ourteam-nameparticipants {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
  margin-bottom: 8px;
}

.posts-section-ourteam-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.posts-section-ourportfolio {
  background-color: #ffffff;
}

.posts-section-ourportfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.posts-section-ourportfolio-projectnames {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
  margin-bottom: 8px;
}

.posts-section-ourportfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.post-section-footer {
  background-color: #2e2f42;
  padding: 100px 0;
}

.post-section-footer-text {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  max-width: 264px;
  text-align: start;
}
.post-section-footer-two-text {
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  text-align: start;
  margin-bottom: 16px;
}

.post-section-footer-content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  margin-right: 120px;
}

.footer-wrap {
  display: flex;
  gap: 120px;
  margin-left: 158px;
  align-items: baseline;
}

.footer-wrap > :first-child {
  padding-left: 15px;
}

.button-orderservice {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 auto;
  display: block;
  margin-top: 48px;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-orderservice:hover,
.button-orderservice:focus {
  background-color: #404bbf;
}

.logheader {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-right: 76px;
}

.logfooter {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  display: inline-block;
  margin-bottom: 16px;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
}

.section {
  padding: 120px 0;
}

.section-two {
  padding: 188px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.ourportfolio-card {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
  text-align: left;
}
.ourportfolio-card-title {
  display: flex;
  flex-direction: column;
  width: calc((100% - 48px) / 3);
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-card-title:hover {
  cursor: pointer;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.ourportfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.ourteam-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  justify-content: center;
  padding-left: 15px;
  padding-right: 15px;
}

.ourteam-card {
  padding: 32px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

img {
  display: block;
}

.section-title-list {
  display: flex;
  gap: 24px;
  margin: 0 14px;
  flex-wrap: wrap;
  justify-content: center;
}

.section-title-list-card {
  text-align: start;
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.header-list {
  display: flex;
  padding: 0 15px;
  justify-content: space-between;
  flex-wrap: wrap;
}

.nav-header-list {
  display: flex;
  align-items: center;
}

.address-ul-header {
  display: flex;
  gap: 40px;
}

.nav-ul-header {
  display: flex;
  gap: 40px;
  position: relative;
}

.section-title-list-card > h3 {
  margin-bottom: 8px;
}

.effectivesolutions-list {
  display: flex;
  padding: 68px 28.5%;
  flex-wrap: wrap;
  justify-content: center;
  gap: 48px;
}

.container-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.section-title-list-card-icon {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  padding: 23.2px 99.2px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  background-color: #f4f4fd;
  margin-bottom: 8px;
  align-items: center;
  height: 112px;
}

.posts-section-ourteam-icon-section {
  display: flex;
  margin: 8px auto 0;
  justify-content: center;
  gap: 24px;
}

.posts-section-ourteam-icon-section-li {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.footer-icon-section {
  display: flex;
  justify-content: space-between;
  max-width: 208px;
  gap: 16px;
}

.imgcard {
  position: relative;
  overflow: hidden;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.ourportfolio-card-title:hover .overlay {
  transform: translateY(0%);
}

.overlay {
  color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: start;
  padding: 40px 32px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #3f51b5;
  transform: translatey(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-ul-header > li {
  display: flex;
  flex-direction: column-reverse;
  align-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.first-nav-linc {
  color: #404bbf;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
  font-weight: 500;
  padding: 22px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.studio {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.studio::after {
  content: '';
  width: 45px;
  height: 4px;
  background-color: #404bbf;
  border-radius: 2px;
  position: absolute;
  left: 0;
  bottom: -1px;
}

.icon-footer {
  background-color: #4d5ae5;
  border-radius: 50%;
  fill: #f4f4fd;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
}

.icon-ourteam {
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  background-color: #4d5ae5;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-ourteam:hover {
  background-color: #404bbf;
}
.icon-ourteam:focus {
  background-color: #404bbf;
}

.svgicons {
  fill: #f4f4fd;
}

.svgicons-footer {
  fill: #f4f4fd;
}

.posts-footer-icon-section-li {
  width: 40px;
  height: 40px;
}

.icon-footer:hover {
  background-color: #31d0aa;
}

.icon-footer:focus {
  background-color: #31d0aa;
}
