a {
  text-decoration: none;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #ffffff;
  color: #434455;
  text-align: center;
}

li {
  list-style: none;
}

.post-section-header {
  background-color: #ffffff;
}

.post-section-header-address {
  color: #434455;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
}

.section-address {
  font-style: normal;
}

.post-section-header-address:hover,
.post-section-header-address:focus {
  color: #404bbf;
}

.logspuntwo {
  color: #2e2f42;
}

.navlink {
  color: #2e2f42;
  font-size: 16px;
  letter-spacing: 0.32px;
  line-height: 1.5;
  font-weight: 500
}

.navlink:hover,
.navlink:focus {
  color: #404bbf;
}

.navlink:active {
  color: #404bbf;
  text-decoration-line: underline;
}

.logspunthree {
  color: #f4f4fd;
}

.post-section-effectivesolutions {
  background-color: #2e2f42;
}

.post-section-effectivesolutions-title {
  color: #ffffff;
  font-weight: 600;
  font-size: 56px;
  letter-spacing: 1.12px;
  line-height: 1.07;
}

.post-section-title {
  background-color: #ffffff;
}

.post-section-title-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.post-section-title-namearticle {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.posts-section-ourteam-title-post {
  background-color: #ffffff;
}

.post-section-title-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.posts-section-ourteam {
  background-color: #f4f4fd;
}

.posts-section-ourteam-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.02em;
  line-height: 1.11;
  text-transform: capitalize;
}

.posts-section-ourteam-nameparticipants {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.02em;
  line-height: 1.2;
}

.posts-section-ourteam-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.posts-section-ourportfolio {
  background-color: #ffffff;
}

.posts-section-ourportfolio-title {
  color: #2e2f42;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.posts-section-ourportfolio-projectnames {
  color: #2e2f42;
  font-weight: 500;
  font-size: 20px;
  letter-spacing: 0.4px;
  line-height: 1.2;
}

.posts-section-ourportfolio-text {
  color: #434455;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.post-section-footer {
  background-color: #2e2f42;
}

.post-section-footer-text {
  color: #F4F4FD;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
}

.button-orderservice {
  font-family: 'Roboto', sans-serif;
  background-color: #4d5ae5;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.64px;
}

.button-orderservice:hover,
.button-orderservice:focus {
  background-color: #404bbf;
  cursor: pointer;
}

.logfooter {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
